* {
    box-sizing: border-box;
}
:root{
    --bg-sedan: #e28525;
    --bg-suv: #016972;
    --bg-luxury: #00403f;
    font-size: 62.5%;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: white;
}
.container {
    width: 70%;
    height: 70%;
    position: absolute;
    top: 15%;
    left: 15%;
    display: flex;
    flex-direction: row;
    color: white;

}
.box {
    width: 30%;
    height: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.sedan {
    background-color: var(--bg-sedan);
}
.suv{
    background-color: var(--bg-suv);
}
.luxury{
    background-color: var(--bg-luxury);
}
button {
    
    border-radius: 25% 50% 25% 50% ;
    border: 1px solid white;
    cursor: pointer;
    background-color: white;
    padding: auto;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    
}
button:hover{
    background-color: transparent;
    transform: scale(1.2);
}
img {
max-width: 48px;

}
h3 {
    font-size: 3rem;
}
h6 {
    font-size: 1.6rem;
}